name: Deploy the Aiksava Load Balancer

on:
    push:
        branches: [ main ]

jobs:
    build-and-push:
        name: Build & Push Load Balancer Image
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
            uses: actions/checkout@v4

        - name: Set up Docker Buildx
            uses: docker/setup-buildx-action@v3

        - name: Docker login
            uses: docker/login-action@v3
            with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Build & push Load Balancer image
            uses: docker/build-push-action@v5
            with:
            context: .
            file: ./Dockerfile
            push: true
            tags: |
                rajputshashank/aiksava-load-balancer:latest
                rajputshashank/aiksava-load-balancer:${{ github.sha }}
